<ion-view view-title="{{competitionName}}">
  <ion-content class="padding">
	<h2>Teams</h2>
	<div class="list" style="margin-top:20px">
        <a ng-repeat="team in teamDetails"
           class="item item-thumbnail-left">
          <img ng-src="{{ team.crestUrl}}">
          <h2>{{ team.name }}</h2>
		  <h3>Code:{{team.code}}</h3>
		  <h3>squadMarketValue:{{team.squadMarketValue}}</h3>
		  <div class="buttons" >
			<button class="button button-royal" ng-click="viewTeamPlayers(team)">Players</button>
			<button class="button button-royal" ng-click="viewTeamFixures(team)">fixtures</button>
		</div>
        </a>
		
    </div>
  <!--
    <ion-list>
		<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="team in teams" type="item-text-wrap" >
			{{team.name}}
		</ion-item> 
	</ion-list>
  
  -->
  </ion-content>
</ion-view>
