<ion-view view-title="">
  <ion-content class="padding">
  <h2 class="text-center">Match Details</h2>
  <div class="row">
	<div class="col col-offset-5"></div>
	<div class="col col-30">
		<h4>{{detailedFixture.fixture.homeTeamName}}</h4>
	</div>	
	<!--<div class="col col-offset-3"></div>-->
	<div class="col col-10"><h1>{{detailedFixture.fixture.result.goalsHomeTeam}} </h1></div>
	
	<div class="col col-10 "><h1> - </h1></div>
	<div class="col-10"><h1>{{detailedFixture.fixture.result.goalsAwayTeam}}</h1></div>
	<!--<div class="col col-offset-3"></div>-->
	<div class="col-30"><h4>{{detailedFixture.fixture.awayTeamName}}</h4></div>
	<div class="col col-offset-5"></div>
  </div>

	<h4 class="text-center">{{detailedFixture.fixture.status}}</h4>
<div style="padding-top:40px">	
 <h3 class="text-center">Head To Head - {{detailedFixture.head2head.count}}</h3>	
</div>
<div class="row">
	<div class="col text-center">
		Matches
		<select ng-init="head=head2headCount" ng-model="head" ng-change="selectHeadCount(head,competitionUrl)" ng-options="head for head in head2headTotal">
		</select>
	</div>	
</div>	
<div class="row">
	<div class="col col-offset-40"></div>
	<div class="col col-5 text-center"><h4>{{detailedFixture.fixture.homeTeamName}}</h4></div>
	<div class="col col-5 text-center"><h4>{{detailedFixture.fixture.awayTeamName}}</h4></div>
	<div class="col col-5 text-center"><h4>Draws</h4></div>
	<div class="col col-offset-40"></div>
</div>
<div class="row text-center">
	<div class="col col-offset-40"></div>
	<div class="col col-5 "><h4>{{detailedFixture.head2head.homeTeamWins}}</h4></div>	
	<div class="col col-5 "><h4>{{detailedFixture.head2head.awayTeamWins}}</h4></div>
	<div class="col col-5 "><h4>{{detailedFixture.head2head.draws}}</h4></div>	
	<div class="col col-offset-40"></div>
</div>

<div class="row">
	<div class="col text-center" ng-repeat="h2hfixture in detailedFixture.head2head.fixtures ">
		{{h2hfixture.homeTeamName}} {{h2hfixture.result.goalsHomeTeam}} -  {{h2hfixture.result.goalsAwayTeam}} {{h2hfixture.awayTeamName}}
	</div>
</div>	
	
 <!--
 <div class="text-center">
 <h4>{{detailedFixture.fixture.homeTeamName}} - {{detailedFixture.head2head.homeTeamWins}}</h4>
 <h4>{{detailedFixture.fixture.awayTeamName}} - {{detailedFixture.head2head.awayTeamWins}} </h4>
 <h4>Draws - {{detailedFixture.head2head.draws}}</h4>
</div> 
-->
<!--
<div class="row">
	<div class="col col-offset-2"></div>
		<div class="col">
		<h4>{{detailedFixture.fixture.homeTeamName}}</h4>
		</div>
</div>
-->
  
  </ion-content>
</ion-view>
