<ion-view view-title="{{competitionName}}">
  <ion-content class="padding">
  <div>{{competitionId}}
		MatchDay
		<select ng-init="match=currentday" ng-model="match" ng-change="selectedMatchday(match,competitionId)" ng-options="match for match in matches">
		</select>
	</div>
  <h2 class="text-center">Standings</h2>
  <div ng-if="leagueTable">
	  <div class="row">
		 <div class="col"><h3>Rank</h3></div>
		 <div class="col col-25"><h3>Team</h3></div>
		 <div class="col"><h3>GP</h3></div>
		 <div class="col"><h3>W</h3></div>
		 <div class="col"><h3>D</h3></div>
		 <div class="col"><h3>L</h3></div>
		 <div class="col"><h3>GF</h3></div>
		 <div class="col"><h3>GA</h3></div>
		 <div class="col"><h3>GD</h3></div>
		 <div class="col"><h3>PTS</h3></div>
	  </div>
	  <div class="row" ng-repeat="table in leagueTable">
		<div class="col"><h4>{{table.position}}</h4></div>
		<div class="col col-25"><h4>{{table.teamName}}</h4></div>
		<div class="col"><h4>{{table.playedGames}}</h4></div>
		<div class="col"><h4>{{table.wins}}</h4></div>
		<div class="col"><h4>{{table.draws}}</h4></div>
		<div class="col"><h4>{{table.losses}}</h4></div>
		<div class="col"><h4>{{table.goals}}</h4></div>
		<div class="col"><h4>{{table.goalsAgainst}}</h4></div>
		<div class="col"><h4>{{table.goalDifference}}</h4></div>
		<div class="col"><h4>{{table.points}}</h4></div>
	  </div>	
  </div>
  
  
	<div ng-if="leagueTable1" ng-repeat="table in leagueTable1">
		<div ng-repeat="(key,value) in table | groupBy:'group'"><h2>Group {{key}}</h2>
		<div>
			<div class="row">
				<div class="col col-11"><h3>Rank</h3></div>
				<div class="col col-11"></div>
				<div class="col col-20"><h3>Team</h3></div>
				<div class="col col-11"><h3>GP</h3></div>
				<div class="col col-11"><h3>GF</h3></div>
				<div class="col col-11"><h3>GA</h3></div>
				<div class="col col-11"><h3>GD</h3></div>
				<div class="col col-11"><h3>PTS</h3></div>
			</div>
			<div class="row" ng-repeat="x in value">
				<div class="col col-11"><h3>{{x.rank}}</h3></div>
				<div class="col col-11"><img ng-src="{{x.crestURI}}" style="width:40%"></div>
				<div class="col col-20"><h3>{{x.team}}</h3></div>
				<div class="col col-11"><h3>{{x.playedGames}}</h3></div>
				<div class="col col-11"><h3>{{x.goals}}</h3></div>
				<div class="col col-11"><h3>{{x.goalsAgainst}}</h3></div>
				<div class="col col-11"><h3>{{x.goalDifference}}</h3></div>
				<div class="col col-11"><h3>{{x.points}}</h3></div>
			</div>
		</div>
	</div>	
  </div>	
		
  <!--
    <ion-list>
		<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="team in teams" type="item-text-wrap" >
			{{team.name}}
		</ion-item> 
	</ion-list>
  
  -->
  </ion-content>
</ion-view>
