<ion-view view-title="Matches">
	<ion-pane>
        <ion-tabs class="tabs-striped tabs-top tabs-background-dark tabs-color-energized">
            <!-- Tab 1 -->
			<ion-tab title="Latest Matches" on-select="getRecent()" >
                <ion-nav-view ng-show="store">
                    <ion-content overflow-scroll="true">
                      <div class="list" style="padding-top:30px">
							<div ng-repeat="value in groupedFixtures"
								    ng-click="viewFixture(fixture)" class="item item-thumbnail-left" >
								  <div class="item item-divider"> <h2>{{value.name.caption}}</h2></div>
								   <div ng-repeat="x in value">
									
										<div class="row">
											<div class="col">{{x.date|date:"EEEE dd MMMM  yyyy HH:hh:ss"}}</div>
											<div class="col"><h4>{{x.homeTeamName}}</h4></div>
											<div ng-if="x.status=='FINISHED'" class="col"><h2>{{x.result.goalsHomeTeam}} - {{x.result.goalsAwayTeam}}</h2></div>
											<div ng-if="x.status!='FINISHED'" class="col"> V </div>
											<div class="col"><h4>{{x.awayTeamName}}</h4></div>
										</div>	
										
										<div ng-repeat="val in x|groupBy:caption">
											{{val.caption}}
										</div>	
								   </div>	
							 <!-- <div class="row" >
								<div class="col"><h4>{{fixture.matchday}}</h4></div>
								<div class="col"><h4>{{fixture.date|date}}</h4></div>
								<div class="col"><h4>{{fixture.homeTeamName}}</h4><h2>{{fixture.result.goalsHomeTeam}}</h2></div>
								<div class="col"><h4>{{fixture.awayTeamName}}</h4><h2>{{fixture.result.goalsAwayTeam}}</h2></div>
								<div class="col"><h4>{{fixture.status}}</h4></div>
							  </div>
							-->		
							</div>
						  </div>
                  </ion-content>
                </ion-nav-view>
            </ion-tab>
			
            <ion-tab title="My Matches" >
                <ion-nav-view ng-show="store">
                    <ion-content>
                      Favourites
                  </ion-content>
                </ion-nav-view>
            </ion-tab>
            <!-- Tab 2 -->
            <ion-tab title="All matches" name="store" on-select="getAll()" >
                <ion-nav-view ng-show="!store">
                    <ion-content overflow-scroll="true">
						<ion-refresher on-refresh="getlists()"></ion-refresher>

                       <div class="row">
						<div class="col col-20">
							League
							<select ng-init="league=currentday" ng-model="league" ng-change="selectLeague(league)" ng-options="league for league in leagueCodes">
							</select>
						</div>
						<div class="col col-10">
						<button ng-click="previous(prev)" style="margin-left: 112px;height:46px"><i class="icon ion-arrow-left-b"></i></button>
						</div>
						<div class="col col-10">
						  <label style="width:95px" class="item item-input">
							<input type="text" placeholder="previous" ng-model="prev" name="prev">
						  </label>
						  </div>
						<div class="col col-10">
						  <label style="width:95px;margin-left: 39px;" class="item item-input">
							<input type="text" placeholder="next" ng-model="nxt" name="nxt">
						  </label>
						</div>
						<div class="col col-10">
						<button ng-click="next(nxt)" style="height:46px"><i class="icon ion-arrow-right-b"></i></button>
					  </div>
						</div>
						 <!--<h2 class="text-center">Fixtures</h2>-->
		
						  <div class="list" style="padding-top:30px">
							<div ng-repeat="value in groupedFixtures"
								    ng-click="viewFixture(fixture)" class="item item-thumbnail-left" >
								  <div class="item item-divider"> <h2>{{value.name.caption}}</h2></div>
								   <div ng-repeat="x in value">
									
										<div class="row">
											<div class="col">{{x.date|date:"EEEE dd MMMM  yyyy HH:hh:ss"}}</div>
											<div class="col"><h4>{{x.homeTeamName}}</h4></div>
											<div ng-if="x.status=='FINISHED'" class="col"><h2>{{x.result.goalsHomeTeam}} - {{x.result.goalsAwayTeam}}</h2></div>
											<div ng-if="x.status!='FINISHED'" class="col"> V </div>
											<div class="col"><h4>{{x.awayTeamName}}</h4></div>
										</div>	
										
										<div ng-repeat="val in x|groupBy:caption">
											{{val.caption}}
										</div>	
								   </div>	
							 <!-- <div class="row" >
								<div class="col"><h4>{{fixture.matchday}}</h4></div>
								<div class="col"><h4>{{fixture.date|date}}</h4></div>
								<div class="col"><h4>{{fixture.homeTeamName}}</h4><h2>{{fixture.result.goalsHomeTeam}}</h2></div>
								<div class="col"><h4>{{fixture.awayTeamName}}</h4><h2>{{fixture.result.goalsAwayTeam}}</h2></div>
								<div class="col"><h4>{{fixture.status}}</h4></div>
							  </div>
							-->		
							</div>
						  </div>
						  <ion-infinite-scroll
							ng-if="canWeLoadMoreContent()"
							on-infinite="populateList()" 
							distance="1%">
						  </ion-infinite-scroll> 
                    </ion-content>
                </ion-nav-view>
            </ion-tab>
        </ion-tabs>
    </ion-pane>
  
	
</ion-view>
