<ion-view view-title="Teams">
  <ion-content overflow-scroll="true">
    <ion-list>
		<div class="list" style="padding-top:30px">
			<div ng-repeat="competition in competitions"
			   class="item item-thumbnail-left">
			   <div class="item item-divider">
				<h2>{{competition.caption}}</h2>
			   </div>	
			   <div ng-repeat="teamList in competition.teams" class="item item-thumbnail-left">
					<img class="col" ng-src="{{ teamList.crestUrl}}">
					<h2>{{ teamList.name }}</h2>
					<h3>Code:{{teamList.code}}</h3>
					<h3>squadMarketValue:{{teamList.squadMarketValue}}</h3>
					<div class="buttons" >
						<button class="button button-royal" ng-click="viewTeamPlayers(teamList)">Players</button>
						<!--<button class="button button-royal" ng-click="viewTeamFixures(teamList)">fixtures</button>-->
					</div>
			   </div>
			</div>
		</div>  
    </ion-list>
  </ion-content>
</ion-view>
