<ion-view view-title="League">
	<ion-nav-buttons side="primary">
		<div>Season
			<select ng-init="season=seasons[0]" ng-model="season" ng-change="selectedSeason(season)" ng-options="season as season.name for season in seasons">
			</select>
		</div>
	</ion-nav-buttons>
		<ion-content class="padding">
		<!--
		  <div class="list" style="padding-top:30px">
				<a ng-repeat="competition in competitions"
				   class="item item-thumbnail-left">
				  <h2>{{competition.caption}}</h2>
				  <div class="buttons" style="float:right">
					<button class="button button-royal" ng-click="viewCompetitionTeams(competition)">Teams</button>
					<button class="button button-royal" ng-click="viewCompetitionFixures(competition)">Fixtures</button>
					<button class="button button-royal" ng-click="viewLeagueTable(competition)">League Table</button>
				  </div>
				  
				  
				</a>
				
			</div>
			-->

  
			<ion-list>
				<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="competition in competitions" type="item-text-wrap" >
					<a ng-repeat="competition in competitions"
						   class="item item-thumbnail-left">
						  <h2>{{competition.caption}}</h2>
						  <div class="buttons" style="float:right">
							<button class="button button-royal" ng-click="viewCompetitionTeams(competition)">Teams</button>
							<button class="button button-royal" ng-click="viewCompetitionFixures(competition)">Fixtures</button>
							<button class="button button-royal" ng-click="viewLeagueTable(competition)">League Table</button>
						  </div>
					</a>
				</ion-item> 
			</ion-list>
  
		  </ion-content>
		</ion-view>


<!--href="#/tab/competition/{{competition.id}}"-->