<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Matches Tab -->
  <ion-tab title="Competitions" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" ui-sref="tab.dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Competitions Tab -->
  <ion-tab title="Matches" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" ui-sref="tab.fixture-set">
    <ion-nav-view name="tab-fixture"></ion-nav-view>
  </ion-tab>

  <!-- Teams Tab -->
  <ion-tab title="Teams" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="tab.team">
    <ion-nav-view name="tab-team"></ion-nav-view>
  </ion-tab>


</ion-tabs>
