<ion-view view-title="{{teamName}}">
  <ion-content class="padding" overflow-scroll="true">
  <h2>Players</h2>
    <ion-list>
		<ion-item  ng-repeat="(key,value) in playerDetail|groupBy:'position'" type="item-text-wrap" >
			<div class="item item-divider">{{key}}</div>
			<div class="row" ng-repeat="val in value">
				<div class="col"><h2>{{val.name}}</h2></div>
				<div class="col"><h3>{{val.dateOfBirth}}</h3></div>
				<div class="col"><h3>{{val.jerseyNumber}}</h3></div>
				<div class="col"><h3>{{val.nationality}}</h3></div>
				<!--<div class="col"><h3>{{val.position}}</h3></div>-->
				<div class="col"><h3>{{val.marketValue}}</h3></div>
			</div>	
		</ion-item> 
	</ion-list>
  </ion-content>
</ion-view>
