	<div class="list" style="margin-top:70px" id="team">
        <a ng-repeat="team in teamDetails" ng-click="getPlayers(team)"
           class="item item-thumbnail-left">
          <img ng-src="{{ team.crestUrl}}">
          <h2>{{ team.name }}</h2>
		  <!--
		  <div class="buttons" >
			<button class="button button-royal" style="float:right">fixtures</button>
		</div>	-->
        </a>
		
    </div>