<ion-view view-title="{{teamName}}">
  <ion-content class="padding">
  <div>{{competitionUrl}}
		Venue{{venues[0]}}
		<select ng-init="venue=venues[0]" ng-model="venue" ng-change="selectedVenue(venue,competitionUrl)" ng-options="venue as venue.name for venue in venues">
		</select>
	</div>
	  <h2 class="text-center">Fixtures</h2>
	  <div class="row">
		 <div class="col"><h3>MatchDay</h3></div>
		 <div class="col"><h3>Date</h3></div>
		 <div class="col"><h3>Home Team</h3></div>
		 <div class="col"><h3>Away Team</h3></div>
		 <div class="col"><h3>Status</h3></div>
	  </div>
	  <div class="list" style="padding-top:30px">
		<a ng-repeat="fixture in teamFixtures"
			   class="item item-thumbnail-left" ng-click="viewFixture(fixture)">
		  <div class="row">
			<div class="col"><h4>{{fixture.matchday}}</h4></div>
			<div class="col"><h4>{{fixture.date}}</h4></div>
			<div class="col"><h4>{{fixture.homeTeamName}}</h4><h2>{{fixture.result.goalsHomeTeam}}</h2></div>
			<div class="col"><h4>{{fixture.awayTeamName}}</h4><h2>{{fixture.result.goalsAwayTeam}}</h2></div>
			<div class="col"><h4>{{fixture.status}}</h4></div>
		  </div>	
		</a>
	  </div>
  </ion-content>
</ion-view>
